﻿body {
    background-color: #eaeaea;
}

.hero {
    position: relative;
    height: 450px;
    background-image: linear-gradient(to top right, darkblue,cornflowerblue);
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    fill: #eaeaea;
}