﻿/*.sideleft{
    left:0;
    width: 70%;
    height:auto;

}
.sideright{
right: 0;
width:30%;
height:auto;
position:fixed;
z-index:1;
}*/

.split {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    /*background-color: #111;*/
}

.right {
    right: 0;
    /*background-color: red;*/
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    /*.centered img {
        width: 150px;
        border-radius: 50%;
    }*/