﻿.heading {
    text-align:center;
    padding-right:40px;
    font-size: 30px;
}
.heading-content {
    padding-left: 40px;
    padding-right: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:justify;
    font-size:medium;
}
